DATABASE_URL="postgresql://postgres:password@localhost:5432/frenedu?schema=public"

NEXTAUTH_SECRET="ganti_dengan_secret_yang_panjang_dan_acak_disini"
NEXTAUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID="ganti_dengan_google_client_id_anda.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="ganti_dengan_google_client_secret_anda"
